/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Justen Neeley
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets)*/

/* 1.1 Normalize*/
@import "normalize.css";
/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/*General Styles (for all pages and devices)*/
html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

nav ul li { 
    display: inline-block; 
    list-style: none; 
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    font-size: 3vw;
    padding-left:0px;
}

footer{
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}
#temps div p{
    display:inline-block;
}

/* 3.  Mobile First (styles specific to small screens)*/


#page-header *{
    top:0;
    left:0;
    margin:0
}

#site-brand{
    font-size: 1.5em;
}

#location {
    font-size: .65em;
}

h1{
    font-size:3em;
}
.tile{
    width: 75%;
    height: 75%;
    text-align: center;
}
#page-header img{
    width:1em;
}

#current-temp{
    font-size:3em;
    margin: auto;
    text-align:center;
}

#temps {
    text-align: center;
}


#high-temp{
    color:red;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:10px;
}

#low-temp{
    color:blue;
    margin-top:0px;
}
#temps p{
    margin:0px;
}
#conditions img{
    width:inherit;
}
h1{
    margin:0px;
}
.hidden{
    display:none;
}

/* large screen rules*/
@media screen and (min-width:750px){
    nav>ul{
        display: flex;
        justify-content:space-between;
        align-content:flex-start;
        font-size: .5em;
        padding:0px;
        width:75%;
    }
    body{
        margin:.5em;
    }
    nav{
        position: static;
    }

    #flex-container{
        display:flex;
        align-content:space-between;
    }

    #conditions{
        flex: 0 0 40%;
    }
    #conditions h2{
        font-size:3em;
    }
    .tile{
        margin:.4em;
        height:inherit;
    }
    #wind{
        flex-grow: .5;
        flex-basis:0;

    }
    #wind h2{
        font-size:3em;
    }
    #temps{

        flex-grow:.5;
        flex-basis:0;
        font-size:2em;
    }

    #hourly{
        margin: .2em auto;
        border: 3px solid;
        border-radius: 15px;
    }

    #hourly ul{
        display: flex;
        overflow-x: auto;
        list-style-type: none;
        align-items: space-between;

    }
    #hourly ul li{
        text-align: justify;
    }
    #page-header img{
        width:160px;
    }

    #location {
        font-size: 1em;
    }
    #site-brand{
        font-size: 5em;
    }
    footer{
        border-top:3px solid black;
        margin-top:20px;
    }
 
    .hidden{
        display:initial;
    }
}