/*
This file is the css for the Weather Images Gallery  
index
1. Imports
2. General 
3. Small Screen First
4. Large Screen                                            
*/


/* 1. Imports*/

/* 1.1 Normalize*/
@import "/weather/css/normalize.css";
/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General*/
#site-brand {
    font-size: 2em;
    font-weight: 600;
}

section img{
    float:left;
    clear:both;
}

body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
}
/*3. Small Screens */
.large{
    display:none;
}


/*4. Large Screens */
@media screen and (min-width: 750px){
    .small{
        display:none;
    }
    .large{
        display:initial;
    }
    #site-brand{
        font-size: 5em;
    }

}