/*
This file is the css for the Weather Images Gallery  
index
1. Imports
2. General 
3. Small Screen First
4. Large Screen                                            
*/


/* 1. Imports*/

/* 1.1 Normalize*/
@import "normalize.css";
/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General*/



/*3. Small Screens */
.large{
    display:hidden;
}


/*4. Large Screens */
@media screen and (min-width: 750px){
    .small{
        display:hidden;
    }
    .large{
        display:initial;
    }

}